<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049114461967-9dad6mtvac1seunf0eg1os26snqaakq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049114461967-9dad6mtvac1seunf0eg1os26snqaakq9</string>
	<key>API_KEY</key>
	<string>AIzaSyCxJ-GqP2TuyR3CigfEzVYz7ouBXBW1rIo</string>
	<key>GCM_SENDER_ID</key>
	<string>1049114461967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieio</string>
	<key>PROJECT_ID</key>
	<string>movieio-33fd8</string>
	<key>STORAGE_BUCKET</key>
	<string>movieio-33fd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049114461967:ios:0a12a0bd334595bff1a07a</string>
</dict>
</plist>